---
- name: "fil-rouge installation"
  become: true
  hosts: prod
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
    - name: example copying file with owner and permissions
      copy:
        src: /home/centos/fil-rouge/website/
        dest: /home/centos/fil-rouge/website
        mode: preserve

    - name: example copying file with owner and permissions
      copy:
        src: /home/centos/fil-rouge/simple_api/
        dest: /home/centos/fil-rouge/simple_api
        mode: preserve

    - name: Create website container
      docker_container:
        name: "website"
        image: "php:7.2-apache"
        ports: 80:80
        pull: true
        env: 
          USERNAME: "toto"
          PASSWORD: "python"
        volumes:
          - /home/centos/fil-rouge/website:/var/www/html

    - name: Create api containers
      docker_container:
        name: "api"
        image: "antoinebouquet1010/fil-rouge-test"
        ports: 5000:5000
        pull: true
        volumes: 
          - /home/centos/fil-rouge/simple_api:/data
...
