---
- name: "fil-rouge installation"
  become: yes
  hosts: all
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
    - name: "Clean Folder"
      file:
        path: "/home/{{ ansible_user }}/fil-rouge/"
        state: absent
    
    - name:  copying api  file 
      copy:
        src: ../simple_api/
        dest: /home/{{ ansible_user }}/fil-rouge/simple_api/       
    - name: copying website  file
      copy:
        src: ../website/
        dest: /home/{{ ansible_user }}/fil-rouge/website/
    
    - name: Log into private registry
      docker_login:
        registry_url: registry.gitlab.com/fil-rouge2/fil-rouge
        username: "{{ username }}"
        password: "{{ password }}"
        reauthorize: yes
    
    - name: Remove api  container
      docker_container:
        name: api
        state: absent
    - name : Remove website container
      docker_container:
        name: website
        state: absent    
    - name: Create network
      docker_network:
        name: fil_rouge_network
    - name: Create website container
      docker_container:
        name: "website"
        image: "php:7.2-apache"
        ports: 80:80
        pull: true
        env: 
          USERNAME: "{{ apiuser }}"
          PASSWORD: "{{ apipwd }}"
        volumes:
          - /home/centos/fil-rouge/website:/var/www/html
        networks:
          - name: fil_rouge_network
    
    - name: Create api containers
      docker_container:
        name: "api"
        image: "registry.gitlab.com/fil-rouge2/fil-rouge/fil-rouge"
        ports: 5000:5000
        pull: true
        volumes:
          - /home/centos/fil-rouge/simple_api:/data
        networks:
          - name: fil_rouge_network
...
